/* fonte roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* ancoras */
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
